<div class="row">
  <div class="col-12 text-center">
    <h1 class="h2 mt-5">Import {{title}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6 mx-auto pt-5">
    <form action="/import/{{form}}" method="post">
      <div class="form-group">
        <label>Numéro de semaine</label>
        <input type="number" class="form-control" name="week" required>
      </div>
      <div class="form-group">
        <label>Année</label>
        <input type="number" class="form-control" name="year" required>
      </div>
      <div class="form-group">
        <label>Données magasins</label>
        <input type="file" class="form-control-file" name="file" required>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" required>
        <label class="form-check-label" >Valider</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>    
  </div>
</div>
